<div id="infoPlage">
  <div class="MeasureUnit">
    <div id="temperature">
      <span>{{temperature | number:'.0-0'}}°C</span>
      <i class="fas fa-sun"></i>
    </div>
    <div>
      <i class="fas fa-tint"></i>
      <span>{{temperatureC | number:'.1-1'}}°C</span>
    </div>
    <div>
      <img src="../../../assets/img/Sine_Alt.png">
      <span>{{houleD | number:'.1-1'}}m {{houleT | number:'.0-0'}}s</span>
    </div>
    <div>
      <img src="../../../assets/img/Wave_Alt.png">
      <span>{{hauteurVagueMin | number:'.1-1'}}-{{hauteurVagueMax | number:'.1-1'}}m</span>
    </div>
    <div>
      <img src="../../../assets/img/Wind.png" id="wind">
      <span id="wind">{{direction}} {{vent | number:'.0-0'}}km/h</span>
    </div>
  </div>

  <div class="beachSearch">
        <span>{{city}}, {{country}} </span>
        <div class="searchIcons">
            <a ><i class="fas fa-map"></i></a>
            <a (click)="searchAlert()" ><i class="fas fa-search"></i></a>
        </div>
  </div>
</div>
