<h2>Rapport</h2>
<form methode="POST" action="">
	<div class="form-group">
		<label for="spot">Spot</label>
		<input type="text" class="form-control input" id="Waikiki, Hawaii" placeholder="Spot">
	</div>
	<div class="form-group">
		<label for="date">Date</label>
		<input type="text" class="form-control input" id="date" placeholder="04/12/2020">
	</div>
	<div class="form-group">
		<label for="duree">Durée</label>
		<input type="text" class="form-control input" id="duree" placeholder="14:55">
	</div>
	<button type="submit" class="btn btn-primary btn-block" [routerLink]="['/signalisation-pollution']">Suivant</button>
</form>