<h2>Récupération de compte</h2>

<form methode="POST" action="">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control input" id="email" placeholder="john@example.com">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Envoyez un mail</button>
  <div class="container smallLink">
    <div class="row">
      <div class="col-12">
            <a class="smallLink text-right" [routerLink]="['/login']">Créer un compte</a>
      </div>
    </div>
  </div>
</form>