<info-plage></info-plage>

<div *ngIf="isLoggedIn; then loggedBlock else disconnectedBlock"></div>

<ng-template #loggedBlock>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <a type="button" class="btn btn-primary btn-block">Signaler</a>
      </div>
      <div class="col-6">
        <a type="button" class="btn btn-primary btn-block" [routerLink]="['/historic']">Historique</a>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12">
        <a type="button" class="btn btn-primary btn-block" [routerLink]="['/session']">Lancer une session</a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #disconnectedBlock>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <a type="button" class="btn btn-primary btn-block" [routerLink]="['/login']">Signaler</a>
      </div>
      <div class="col-6">
        <a type="button" class="btn btn-primary btn-block" [routerLink]="['/login']">Historique</a>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12">
        <a type="button" class="btn btn-primary btn-block" [routerLink]="['/login']">Lancer une session</a>
      </div>
    </div>
  </div>
</ng-template>


