<div id="dashboard">

</div>

<info-plage></info-plage>
<div class="container">
  <div class="row">
    <div class="col-6">
      <a type="button" class="btn btn-primary btn-block">Faire un rapport</a>
    </div>
    <div class="col-6">
      <a type="button" class="btn btn-primary btn-block">Profil</a>
    </div>
  </div>
  <div class="row align-items-center mt-3">
    <div class="col-12">
      <a type="button" class="btn btn-primary btn-block">Lancer une session</a>
    </div>
  </div>
</div>
